body {
  background-color: #294F6D;
}

ul {
  margin-bottom: 0;
}

li {
  list-style: none;
  margin: 10px 5px;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #042036;
  text-decoration: none;
}

nav {
  background: #486C88;
  color: #DDD;
  height: 50px;
  width: 300px;
  line-height: 2;
  margin: 10px auto 0px;
}

nav li {
  display: inline-block;
  margin: 0px;
}

#all {
  border-right: 1px solid #294F6D;
  padding: 10px 0px 2px 0px;
  position: relative;
  left: 20px;
}

#all p {
  position: relative;
  right: 30px;
}

#online p {
  position: relative;
  left: 45px;
}

#offline {
  border-left: 1px solid #294F6D;
  padding: 10px 0px 2px 0px;
  position: relative;
  left: 70px;
}

#offline p {
  position: relative;
  left: 40px;
}

.fa-search {
  position: relative;
  top: 2px;
  left: 10px;
  z-index: 10;
  color: #ccc;
}

#search {
  background: white;
  height: 55px;
  width: 300px;
  margin: 0 auto;
  padding: 0;
  border-bottom: 1px solid #DFDFDF;
  padding: 16px 14px;
}

#search input {
  position: relative;
  bottom: 18px;
  height: 20px;
  width: 270px;
  margin: 0 auto;
  border-radius: 20px;
  padding-left: 35px;
  border: 1px solid #DDD;
  outline: none;
}

#streamers {
  background: white;
  height: 575px;
  width: 300px;
  margin: 0 auto;
  padding: 15px 0;
  text-align: left;
}

#streamers ul {
}

#streamers li {
  margin-top: 0;
}

.username {
  position: relative;
  right: 30px;
}

.logo {
  position: relative;
  right: 35px;
  margin: 0 10px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.fa-times {
  float: right;
  position: relative;
  top: 20px;
  right: 15px;
  color: #CC0000;
}

nav li:hover {
  color: #959595; 
}

.status {
  position: absolute;
  background-color: #7788AA;
  padding: 5px 10px;
  border-radius: 25px;
  font-size: .75em;
  margin-left: 20px;
  margin-top: 12px;
}